extends layout

block content
  h1= title
  form(name="composeEmail", action="/", method="post")
  
  label(for="receiver") To
  input(type="text", name="receiver", placeholder='example@')

  br
  br

  label(for="sender") From
  input(type="text", name="sender")

  br 
  br

  label(for="subject") Subject
  input(type="text", name="subject")

  br
  br

  label(for="body") Body
  textarea(name="body", cols="70", rows="20")

  br
  br

  input(type="submit", name = "submit", value="Send", class="avoidme")
